.thirdMain{
    background-image: url(../../../../public/back-2-original.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.filterOverlay {
    position: absolute;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.35); 
    z-index: 0;
  }
  

.thirdTextContainer{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 80%;
}

.thirdText{
    font-size: 45px;
    color: var(--white);
    z-index: 10;
    filter: none;
    text-shadow: 10px 2px 15px rgba(188, 184, 184, 0.5);
}

.last{
    font-size: 30;
    text-align: center;
}

.charge{
    color: var(--yellow);
}

@media  (max-width: 592px) {
    .thirdMain{
        height: 600px;
        background-size:cover;
    }
    .filterOverlay{
        height: 600px;
    }
    .thirdTextContainer{
        width: 90%;
    }
    .thirdText{
        font-size: 28px;
    }
    .last{
        text-align: center;
    }
}