:root{
    --yellow: #F7CC0F;
    --green2:  #04B404;
    --green: #107c10;
    --soft-green: rgba(194, 236, 17, 0.5);
    --green-shadow: rgba(91, 255, 51, 0.75);
    --gray: #7c7c7b;
    --white: #FFFFFF;
    --olive:  rgba(182, 215, 48, 0.35);
}