
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory
}


.page, .main {
  width: 100%;
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
  position: relative;
  overflow: hidden;
}

.loader{
  position: absolute;
  top: 0;
  left: 40%;
}

@font-face {
  font-family: 'Chelsea-Market';
  src: url(../public/fonts/ChelseaMarket-Regular.ttf);
}

@font-face {
  font-family: 'RoadRage';
  src: url(../public/fonts/RoadRage-Regular.ttf);
}

