@import '../../colors.css';


.navbar {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  position: relative;
  z-index: 1000; 
  box-shadow:0px 4px 7px rgba(0, 0, 0, 0.813); 
}

.navContainer {
    display: flex;
    width: 100%; 
    height: max-content;
    justify-content: space-between;
    padding: 0 150px ;
}
 
  .logoContainer{
    width: max-content;
    height: auto;
  }

  .cartIconContainer{
    display: flex;
    flex-direction: row;
    width: 50px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 5px;
  }

  .cartClose{
    display: none;
  }

  .linksContainer{
    position: absolute;
    left: 0;
    top: -69px;
    height:100dvh;
    background-color: #0a0a0ae8;
    width: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    overflow-y: hidden;
  }

  .linksCollapse{
      display: none;
  }

  .links {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 40px;
    font-family: 'Chelsea-Market';
  }

 
  .menu{
    font-size: 50;
    color: var(--green);
    justify-content: right;
    align-items: flex-end;
  
  }

  @media (max-width:1024px){
   .navContainer{
    padding: 0 75px;
   }
  }

  @media (max-width:592px){
    .navContainer{
      padding: 0 25px;
     }
     .cartIconContainer{
      left: 60%;
     }
    .linksContainer{
      padding-top: 80px;
    }
    .links{
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 20px 30px;
     }
  }