@import '../../colors.css';

.contactMain{
    height: max-content;
    display: flex;
    flex-direction: row;
    background-color: var(--olive);
    justify-content: center;
   
}

.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding-top: 50px;
    text-align: center;
    align-items: center;
     margin: 20px auto;
}

.genericForm{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

.inputsFields{
    height: 2rem;
    width: 250px;
    border: 2px solid var(--green);
    border-radius: 10px;
    margin: 25px;
    padding: 10px 5px;
}

.inputsFields:focus{
    border: 3px solid var(--yellow);
    outline: none;
}

.inputsArea{
    border: 2px solid var(--green);
    width: 250px;
    height: 6rem;
    border-radius: 10px;
    padding: 10px 5px;
}

.inputsArea:focus{
    border: 3px solid var(--yellow);
    outline: none;
}

@media (max-width:720px){
    .contactMain{
        flex-direction: column;
    }
    .contactContainer{
        padding-top: 25px;
    }
}