@import '../../colors.css';

.productsList{
    margin-top:50px;
    display: flex;
    height: max-content;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap; 
    gap:25px;
    
}
.productCard{
    display: flex;
    flex-direction: column;
    background-color: var(--olive) ;
    justify-content: space-around;
    width: 30% ;
    height:400px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.productsLinks{
    text-decoration: none;
}
