@import '../../colors.css';

.mainFooter{
    width: 100%;
    height:auto;
     background-color: rgb(8, 82, 4);
     z-index: 1;
     position: relative;
}

.filter{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 311px;
  background-image: url('../../../public/bg-3.png');
  background-size: 80%;
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 0.5 ;
  filter: brightness(0.6);
  z-index: 0;
}

.footerSection{
  position: relative;
  width: 100%;
  height: 311px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
}

.logoSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logoImage{
    width: 190px;
    height: 60px;
}

.iconsSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

.iconBg{
    background-color: var(--yellow);
    border-radius: 50% ;
    padding: 4px;
    border: solid 2px var(--green);
    width: max-content;
}

.contactSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: max-content;
}

.contactsFootTitle{
    font-family: 'Chelsea-Market';
}

.contactDetails{
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: space-between;
    width: max-content;
}

.mailIconFoot{
    display: flex;
}

.contactPhoneFoot{
    display: flex;
     font-size: 1.5rem;
    color: aliceblue;
}

.contactsFootTitle{
    font-size: 24px;
    color: aliceblue;
}

.contactsFoot{
    font-size: 1.5rem;
    color: aliceblue;
}


@media(max-width:1669px){
    .filter{
        background-size: 100%;
    }
}

@media(max-width:720px){ 
    .footerSection{
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .logoSection{
        display: flex;
        flex-direction: row;
        padding-top: 25px;
    }

    .iconsSection{
        width: 150px;
        align-items: first baseline;
        margin-top: 0;
    }
    .filter{
        background-size: 150%;
    }

    .contactSection{
        width: 100%;
        margin: 35px auto;
        align-items: center;
    }   

    .contactsFootTitle{
        margin: auto 0;
    }

    .contactDetails{
        margin-top: 25px;    
        justify-content: space-between;
    }

    .contactsFoot{
        font-size: 1rem;
    }
}