.categoriesContainer{
    margin-top:50px;
    display: flex;
    height: max-content;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    gap:25px;
    max-width: 1280px;
    align-items: stretch;
}
.categorieCard {
    display: flex;
    max-width: calc(25%-20px);
    height: 350px;
    min-width: 240px; 
    box-sizing: border-box; 
    border-radius: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    
}

.categorieImage {
    border-radius: 20px;
    height: 350px;
    max-width: 100%; 

}

.categorieImage:hover {
  transform: rotateY(15deg)
}

@media (max-width:592px){
    .categorieCard{
        width: 180px;
        min-width: 180px;
        height: auto;
 
    }

    .categorieImage{
        width: 100%;
        height: auto;
       min-width: 180px;
    }
}