@import '../../../colors.css';

.registerMain{
    display: flex;
    justify-content: center;
    background-color: var(--olive);
    height: 85vh;
}


.registerContainer{
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    width: 50%;
    height: max-content;
    text-align: center;
    align-items: center;
}

