@import '../../colors.css';

.mainSlider {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.sliderTrack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: nowrap;
}


.sliderImgContainer{
  width: 300px;
  height: auto;
}

.sliderImg {
  width: 300px;
  height: auto;
  object-fit: contain;
  position: relative;
  margin: 0 1rem;
}

.centerImg {
  z-index: 2;
}

.sideImg {
  z-index: 1;
  pointer-events: none;
}

.sliderButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: solid 3px var(--green); 
  padding: 0.5rem 1rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mainSlider:hover .sliderButton {
  opacity: 1;
  background-color: none;
  border-radius: 50%;
}

.Left {
  left: 50px;
}

.Right {
  right: 50px;
}

.btnText{
  font-size: 1.5rem;
  color: var(--green);
  font-weight: 600;
}

@media (max-width:865px){
  .sliderImgContainer{
    width: 250px;
    height: auto;
  }
  .sliderImg {
    width: 250px;
    height: auto;
    object-fit: contain;
    position: relative;
    margin: 0 0.5rem;
  }
  .Left {
    left: 20px;
  }
  .Right {
    right: 20px;
  }
  .btnText{
    font-size: 1.2rem;
  }
}