@import '../../colors.css';

.adminMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tableNav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 30px;
}

.mainTable{
    border: solid 2px var(--yellow);
    width: 85%;
    table-layout: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.modalContainer{
    width:450px;
    height: auto;
    border: 5px solid var(--green);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.titleCont{
    margin: 25px 0px;
}

.mainTableHeader{
    width: 100%;
    background-color: var(--olive);
}

.tableHeader, .tableCell {
    padding: 1rem;
    text-align: left;
    align-items: first baseline;
    width: min-content;
    border-bottom: 2px solid var(--gray);
}

.nameCell{
    white-space: nowrap;
    width: min-content;
    color: var(--green);
    font-weight: 800;
}
  
.actions{
    display: flex;
    justify-content: space-around;
}

.tableBody tr:last-child td {
    border-bottom: none;
}

@media (max-width: 920px) {
    .mainTable {
      display: block;
      overflow-x: auto;
      max-width: max-content;
    }
  
    .mainTable thead {
      display: none;
    }
  
    .mainTable tr {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--gray);
      margin-bottom: 1rem;
      padding: 1rem;
    }
  
    .mainTable td {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0.5rem;
    }
    .mainTable td::before {
        content: attr(data-label);
        font-weight: bold;
        flex-shrink: 0;
        width: 110px; 
        text-align: left;
      }
  
    .tableCell{
        display: flex;
        justify-content: center;
    } 

    .tableCell::before {
      content: attr(data-label);
      font-weight: bold;
      
    }

    button{
        margin: 0px 10px;
    }
  }
  
  @media (max-width: 510px) {
    .mainTable{
        width: 95%;
    }
    .mainTable tr {
        width: 95%;
        margin: 0;
        padding: 0;
    }
   
    .tableNav{
        flex-wrap:wrap;
        width: 80%;
        gap: 10px;
    }

    .mainTable td {
        justify-content: flex-start;
    }

    .tableCell{
        align-items: baseline;
        justify-content: flex-start;
        width: min-content;
        padding: 0px;
    }
    .actions{
        margin-left: 25%;
    }
  }