.cartListMain {
   width: 100%;
    height: max-content;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.cartList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
}

.cartCard {
    width: max-content;
    border: 2px solid var(--green);
    border-radius: 15px;
    padding: 10px;
}