@import '../../colors.css';

.cartContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.cartMainList{
    width: clamp(810px, 55vw,65vw);
    margin-top: 25px;
    background-color: var(--olive);
    padding: 20px;
    border-radius: 20px;
}

.cartItemsList{
    display: flex;
    flex-direction: column;
    width: clamp(780px, 50vw,60vw);
    background-color: aliceblue;
    padding: 10px;
    border-radius: 16px;
}

.cartItem{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    border-bottom: solid 2px var(--soft-green);
    width: 100%;
}

.itemContainer{
    display: flex;
}

.itemData{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-evenly;
    position: relative;
    padding: 10px;
}

.itemsFields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--soft-green);
}

.cartImage{
    border-radius: 16px;
}

.itemTitle{
    color: var(--green);
    font-size: 20px;
    font-family: 'Chelsea-Market';
}

.cartButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    justify-content: space-around;
}

.counterSection{
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-around;
}

.removeButton{
    width: max-content;
    align-items: center;
   border: 2px  solid rgba(255, 0, 0, 0.823);
   padding: 5px;
    border-radius: 10px;
}


@media (max-width:815px){
    
    .cartMainList{
        width: clamp(600px, 80vw,90vw);
    }
    .cartItemsList{
        width: clamp(570px, 75vw,85vw);
    }
    .itemContainer{
        justify-content: space-around;
    }
    .cartItem{
        flex-direction: column;
    }
   .itemData{
        width: max-content;
   }
   .cartButtons{
    height: max-content;
    flex-direction: row;
   }
   .counterSection{
    flex-direction: row;
    align-items: center;
    width: 50%;
   }
}

@media (max-width:592px){
    .cartMainList{
        width: clamp(350px, 80vw,90vw);
    }

    .cartItemsList{
        width: clamp(320px, 75vw,85vw);
    }
    
    .cartImage{
        width: 100%;
        height: auto;
        min-width: 120px;
        margin-top: 3px;
    }
    .itemData{
        padding: 1px 3px;
        min-width: 150px;
    }
    
    .itemTitle{
        font-size: 16px;
    }
    h3{
        font-size: 14px;
    }
}