@import'../../../colors.css';

.genericInput{
    height: 2rem;
    width: 250px;
    border: 2px solid var(--green);
    outline-color: var(--green-shadow);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

.genericInput:focus{
    transition: all 2s ease;
    transition-duration: 700ms;
    transform: scale(1.05);
}

.genericSelect{
    height: 2.5rem;
    width: 250px;
    border: 2px solid var(--green);
    outline-color: var(--green-shadow);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
}