.createMain{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.createForm{
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-top: 20px;
}

.upImageContainer{
    margin-top: 35px;
}

.labels{
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Chelsea-Market';
}