@import '../../../colors.css';

.checkContainer{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--yellow), rgb(251, 255, 0), yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--soft-green) 2px solid;
    box-shadow: var(--soft-green) 0px 0px 5px 5px
}

.checkIcon{
    border-radius: 50%;
  ;
}