.loginMain{
    height: max-content;
    display: flex;
    flex-direction:row;
    background-color: var(--olive);
}

.loginContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-top: 50px;
    text-align: center;
    align-items: center;
}
