.loginMain{
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 50px;
    background-color: var(--olive);
    text-align: center;
    align-items: center;
}
